<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.marcoscsouza.testetp3dr3smpa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TesteTp3Dr3Smpa">
        <activity
            android:name=".ui.ListaMinhasAvaliadasActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ListaTodasAvaliadasActivity"
            android:exported="false" />
        <activity
            android:name=".user.LoginUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".user.CadastroUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".ui.AvaliarActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>